**/node_modules
node_modules
**/dist
dist
**/build
build
**/coverage
coverage
.turbo
**/.turbo
.git
.gitignore
.env
.env.*
!.env.example
*.log
.DS_Store
playwright-report
test-results
specs
docs
.next
